{{define "header"}}
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 px-3 border-bottom">
        <div class="nav col-md-6">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img class="fit-picture" src="/images/icon.jpg" alt="" width="32" height="32"/>
                <img class="fit-picture" src="/images/title.jpg" alt="" height="32"/>
            </a>
            <div class="dropdown">
                <button class="btn btn-outline-success-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Меню
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/"> 
                        Главная
                    </a>
                    {{ if and (.CurrentUser.Email)  (ne .CurrentUser.Role "Клиент") }}
                    <a class="dropdown-item" href="/admin"> 
                        Панель управления
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
        
        <div class="col-md-4 text-end">
            {{ if .CurrentUser.Email }}
                <p class="d-inline-block px-3 m-0">Вы авторизваны под почтой: {{ .CurrentUser.Email }}</p>
                <a href="/logout" class="btn btn-outline-danger">Выйти</a>
            {{ else }}
                <a href="/login" class="btn btn-outline-primary">Войти</a>
                <a href="/registration" class="btn btn-primary">Зарегистрироваться</a>  
            {{ end }}
        </div>
    </header>
{{end}}